<div class="row">
  <div class="card col-md-6">

    <div class="row">
      <div class="col-lg-3 divcover">
        <img src="../../assets/imagenes/InfinityWar.jpg" class="cover" alt="Los Vengadores: Infinity War">
      </div>
      <div class="card col-lg-9 text-center ">
        <h4>Los Vengadores: Infinity War</h4>
      <div class="table-responsive-lg horarios centerTable">
          <table class="table-sm">
            <thead>
              <tr>
                <th align="center">Lunes</th>
                <th align="center">Martes</th>
                <th align="center">Miércoles</th>
                <th align="center">Jueves</th>
                <th align="center">Viernes</th>
                <th align="center">Sábado</th>
                <th align="center">Domingo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center">26/11</td>
                <td align="center">27/11</td>
                <td align="center">28/11</td>
                <td align="center">29/11</td>
                <td align="center">30/11</td>
                <td align="center">1/12</td>
                <td align="center">02/12</td>
              </tr>
              <tr>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
              </tr>
              <tr>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="card col-md-6">
    <div class="row">
      <div class="col-lg-3 divcover">
        <img src="../../assets/imagenes/InfinityWar.jpg" class="cover card-img-left" alt="Los Vengadores: Infinity War">
      </div>
      <div class="card col-lg-9 leyenda text-center">
        <h4>Los Vengadores: Infinity War</h4>
      <div class="table-responsive-sm horarios centerTable">
          <table class="table-sm tabla">
            <thead>
              <tr class="">
                <th align="center">Lunes</th>
                <th align="center">Martes</th>
                <th align="center">Miércoles</th>
                <th align="center">Jueves</th>
                <th align="center">Viernes</th>
                <th align="center">Sábado</th>
                <th align="center">Domingo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center">26/11</td>
                <td align="center">27/11</td>
                <td align="center">28/11</td>
                <td align="center">29/11</td>
                <td align="center">30/11</td>
                <td align="center">1/12</td>
                <td align="center">02/12</td>
              </tr>
              <tr>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
              </tr>
              <tr>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
                <td align="center"><a href="#"> --:-- </a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>
